/* CONFIG */

:root {

	--body-min-width: 320;
	--body-max-width: 1600;
	--body-min-font: 16;
	--body-max-font: 20;

	--body-color: #3c434a;
	--body-background: #fff;
	--body-line-height: 1.3;
	--body-letter-spacing: -0.015em;

	--link-color: #0064bd;
	--link-hover-color: #0095ff;
	--link-alt-color: #777;
	--link-alt-hover-color: #777;

	--button-color: #fff;
	--button-background: #aaa;
	--button-alt-color: var(--button-background);
	--button-alt-background: var(--button-color);
	--button-border-radius: 4px;

	--nav-color: #141412;
	--nav-background: #efefef;
	--nav-hover-color: #141412;
	--nav-hover-background: #e2e2e2;
	--nav-active-color: #fff;
	--nav-active-background: #aaa;

	--input-height: 42px;
	--input-border-radius: 4px;
	--input-font-size: 18px;
	--input-active-color: #0288d1;
	--input-error-color: #d32f2f;

	--nav-height: 50px;
	--footer-height: 2em;
	--small-font-size: 0.875em;

	--body-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--body-font-size: calc((var(--body-min-font) * 1px) + ((var(--body-max-font) - var(--body-min-font)) * ((100vw - (var(--body-min-width) * 1px)) / (var(--body-max-width) - var(--body-min-width)))));

}


/* BODY */

*, :after, :before {
	box-sizing: border-box;
}

* {
	user-select: text;
	-webkit-user-select: text;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-size: var(--body-font-size);
	font-family: var(--body-font-family);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-letter-spacing);
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
}

body {
	width: 100%;
	min-width: calc(var(--body-min-width) * 1px);
	min-height: 100%;
	position: relative;
	background: var(--body-background);
	color: var(--body-color);
	margin: 0;
	padding: 0;
}

.small {
	font-size: var(--small-font-size);
}

.hidden {
	visibility: hidden;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	border: none !important;
}

.hidden::before, .hidden::after, .hidden > * {
	display: none !important;
}


/* LINKS */

a {
	color: var(--link-color);
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

a:hover, a:active {
	color: var(--link-hover-color);
}

a.alt {
	color: var(--link-alt-color);
}

a.alt:hover {
	color: var(--link-alt-hover-color);
	text-decoration: underline;
}

a.right {
	float: right;
}


/* INPUT */

input, textarea, select, button {
	display: inline-block;
	width: 100%;
	height: var(--input-height);
	margin: 0;
	padding: 10px 12px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	font-family: inherit;
	font-size: var(--input-font-size);
	border-radius: var(--input-border-radius);
	overflow: visible;
	outline: none;
	appearance: none;
	vertical-align: middle;
	text-transform: none;
}

textarea {
	height: 6em;
	overflow: auto;
}

label {
	display: block;
	margin-bottom: 4px;
	font-size: var(--small-font-size);
}

form .field {
	position: relative;
	padding: 8px 0;
}

form .field:last-of-type {
	margin-bottom: 0;
}

form .show-password::before {
	position: absolute;
	top: 32px;
	right: 5px;
	content: '\1F441';
	font-size: 32px;
	z-index: 2;
	cursor: pointer;
}

form .error {
	color: var(--input-error-color);
	margin-top: 5px;
}

form .field .error {
	font-size: var(--small-font-size);
}

input.has-error, textarea.has-error, select.has-error,
.has-error input, .has-error textarea, .has-error select {
	border-width: 1px;
	border-color: var(--input-error-color);
}

input:hover, textarea:hover, select:hover {
	border-width: 0.5px;
	border-color: var(--input-active-color);
}

input:focus, textarea:focus, select:focus {
	border-width: 1px;
	border-color: var(--input-active-color);
}

button, [type="button"], [type="submit"], [type="reset"] {
	background: var(--button-background);
	border-width: 1px;
	border-color: rgba(0, 0, 0, .2);
	border-radius: var(--button-border-radius);
	color: var(--button-color);
	text-align: center;
	cursor: pointer;
}

button.alt, [type="button"].alt, [type="submit"].alt, [type="reset"].alt {
	background: var(--button-alt-background);
	color: var(--button-alt-color);
}

@media screen and (min-width: 40em) {

	button, [type="button"], [type="submit"], [type="reset"] {
		width: auto;
		padding: 10px 20px;
	}

}

[type="radio"], [type="checkbox"] {
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
}

[type="radio"] + label, [type="checkbox"] + label {
	display: inline;
	margin: 0 10px 0 2px;
	vertical-align: middle;
}

[readonly] {
	color: #5f5f5f;
	background: #f0f0f0;
}

[disabled] {
	opacity: 0.8;
	color: #5f5f5f;
	background: #f5f5f5;
	cursor: not-allowed;
}

[hidden], template {
	display: none;
}


/* MAIN */

main {
	display: block;
	padding-bottom: var(--footer-height);
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0.5em 0;
}

p {
	margin: 0 0 0.9em 0;
}


/* FOOTER */

footer {
	width: 100%;
	text-align: center;
	min-height: var(--footer-height);
	font-size: var(--small-font-size);
}

main + footer {
	position: absolute;
	bottom: 0;
}


/* NAV */

nav, nav .toggle {
	position: relative;
	background: transparent;
}

nav .menu {
	position: absolute;
	top: 40px; right: 24px;
	display: inline-block;
	width: auto;
	min-width: 150px;
	background: var(--nav-background);
	border-radius: 2px;
	box-shadow: 0 10px 6px -6px #777;
	transition: transform 0.5s;
	transform: scale(0,0);
	transform-origin: top right;
	z-index: 500;
}

nav.open .menu {
	transform: scale(1,1);
}

nav a {
	display: block;
	text-align: left;
	width: 100%;
	height: var(--nav-height);
	line-height: var(--nav-height);
	padding: 0 15px;
	color: var(--nav-color);
	text-decoration: none;
}

nav a:hover {
	color: var(--nav-hover-color);
	background: var(--nav-hover-background);
}

nav a.active {
	font-weight: bold;
}

nav i {
	display: block;
	font-style: normal;
	font-size: 32px;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
}

nav i:after {
	content: '\2807';
}

@media screen and (min-width: 40em) {

	nav .toggle {
		display: none;
	}

	nav .menu {
		display: flex;
		position: static;
		height: 100%;
		box-shadow: none;
		transform: none;
		transition: none;
	}

	nav a {
		flex-grow: 1;
		text-align: center;
	}

	nav a.active {
		color: var(--nav-active-color);
		background: var(--nav-active-background);
		font-weight: normal;
	}

}


/* GRID */

.grid {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.grid .item {
	flex-basis: 100%;
}

@media(min-width: 40em) {

	.grid .item {
		flex-basis: 50%;
	}

}

@media(min-width: 60em) {

	.grid .item {
		flex-basis: calc(100% / 3);
	}

}


/* PAGINATION */

.pagination {
	display: flex;
	justify-content: flex-end;
}

.pagination * {
	display: inline-block;
	padding: 4px 8px;
	margin: 0 -1px;
}

.pagination a {
	border: 1px solid #ddd;
	padding: 8px 16px;
}

.pagination .active {
	background: #f1f1f1;
}

.pagination .disabled, .pagination .disabled:hover {
	cursor: default;
	color: #bbb;
}


/* NOTICE */

.notice {
	padding: 12px;
	border: 0px solid #000;
	border-left-width: 4px;
	border-right-width: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.notice.pinned {
	position: absolute;
	top: 0; left: 0;
}

.notice.pinned.bottom {
	top: initial;
	bottom: 0;
}

.notice.success {
	background: #DFF0D8;
	border-color: #46b450;
}

.notice.error {
	background: #F2DEDE;
	border-color: #dc3232;
}

.notice.info {
	background: #D9EDF7;
	border-color: #00a0d2;
}

.notice.warn {
	background: #FCF8E3;
	border-color: #ffb900;
}

.notice .title {
	font-size: 1.1em;
	font-weight: bold;
}


/* OVERLAY */

.overlay {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 10000
}

.overlay .inner {
	width: 90%;
	max-width: 500px;
	margin: auto;
	background: #fff;
	color: #3c434a;
}

.overlay .head {
	display: flex;
	align-items: center;
	padding: 6px 10px;
	font-weight: bold;
	line-height: 1.0;
	background: #ddd;
}

.overlay .close {
	cursor: pointer;
	font-size: 1.4em;
	font-weight: normal;
	margin-left: auto;
}

.overlay .body {
	padding: 10px;
}


/* ANIMATE */

.animate {
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.animate.none {
	opacity: 0.99;
}

.static, .static * {
	transition: none !important;
}

.fade.out, .fade.hidden {
	opacity: 0
}

.scale.out, .scale.hidden {
	transform: scale3d(0, 0, 0);
}

.slide-from-left.out, .slide-from-left.hidden {
	transform: translate3d(-100%, 0, 0);
}

.slide-from-right.out, .slide-from-right.hidden {
	transform: translate3d(100%, 0, 0);
}

.slide-from-top.out, .slide-from-top.hidden {
	transform: translate3d(0, -100%, 0);
}

.slide-from-bottom.out, .slide-from-bottom.hidden {
	transform: translate3d(0, 100%, 0);
}

.bump-from-bottom.out, .bump-from-bottom.hidden {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
}