/* ANIMATION */

.animate {
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.animate.none {
	opacity: 0.99;
}

.static, .static * {
	transition: none !important;
}

.hidden {
	visibility: hidden;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	border: none !important;
}

.hidden > * {
	display: none !important;
}

/* ANIMATION: FADE IN/OUT */

.fade.out, .fade.hidden {
	opacity: 0
}

/* ANIMATION: SCALE UP/DOWN */

.scale.out, .scale.hidden {
	transform: scale3d(0, 0, 0);
}

/* ANIMATION: SLIDE IN/OUT */

.slide-from-left.out, .slide-from-left.hidden {
	transform: translate3d(-100%, 0, 0);
}

.slide-from-right.out, .slide-from-right.hidden {
	transform: translate3d(100%, 0, 0);
}

.slide-from-top.out, .slide-from-top.hidden {
	transform: translate3d(0, -100%, 0);
}

.slide-from-bottom.out, .slide-from-bottom.hidden {
	transform: translate3d(0, 100%, 0);
}

/* NOTICES */

.notice {
	padding: 12px;
	border: 0px solid #000;
	border-left-width: 8px;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.notice.pinned {
	position: absolute;
	top: 0; left: 0;
}

.notice.pinned.bottom {
	top: initial;
	bottom: 0;
}

.notice.success {
	background: #DFF0D8;
	border-color: #46b450;
}

.notice.error {
	background: #F2DEDE;
	border-color: #dc3232;
}

.notice.info {
	background: #D9EDF7;
	border-color: #00a0d2;
}

.notice.warn {
	background: #FCF8E3;
	border-color: #ffb900;
}