/**
 * FSTAGE.css
 *
 * About: A skeleton css library for developing modern web apps
 * Version: 0.1.8
 * License: MIT
 * Source: https://github.com/codi0/fstage
**/
:root {

	--body-min-width: 300;
	--body-max-width: 1600;
	--body-min-font: 16.5;
	--body-max-font: 19;

	--body-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--body-font-size: calc((var(--body-min-font) * 1px) + ((var(--body-max-font) - var(--body-min-font)) * ((100vw - (var(--body-min-width) * 1px)) / (var(--body-max-width) - var(--body-min-width)))));

	--body-color: #3c434a;
	--body-background: #fff;
	--body-line-height: 1.3;
	--body-letter-spacing: -0.015rem;

	--link-color: #0064bd;
	--link-hover-color: #0095ff;
	--link-alt-color: #777;
	--link-alt-hover-color: #777;

	--button-color: #fff;
	--button-background: #aaa;
	--button-alt-color: var(--button-background);
	--button-alt-background: var(--button-color);
	--button-border-color: rgba(0, 0, 0, 0.25);
	--button-border-radius: 4px;

	--nav-color: #141412;
	--nav-background: #efefef;
	--nav-hover-color: #141412;
	--nav-hover-background: #e2e2e2;
	--nav-active-color: #fff;
	--nav-active-background: #aaa;

	--input-border-radius: 4px;
	--input-font-size: 1.15rem;
	--input-border-color: rgba(0, 0, 0, 0.25);
	--input-hover-color: rgba(0, 0, 0, 0.35);
	--input-active-color: #0288d1;
	--input-error-color: #d32f2f;

	--footer-height: 2rem;
	--small-font-size: 0.875rem;
	--image-crop-height: 200px;

}


/* BODY */

*, :after, :before {
	box-sizing: border-box;
}

* {
	user-select: text;
	-webkit-user-select: text;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-size: var(--body-font-size);
	font-family: var(--body-font-family);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-letter-spacing);
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
}

body {
	width: 100%;
	min-width: calc(var(--body-min-width) * 1px);
	min-height: 100%;
	position: relative;
	background: var(--body-background);
	color: var(--body-color);
	margin: 0;
	padding: 0;
}

.small {
	font-size: var(--small-font-size);
}

.hidden {
	visibility: hidden;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	border: none !important;
}

.hidden::before, .hidden::after, .hidden > * {
	display: none !important;
}


/* LINKS */

a {
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	color: var(--link-color);
}

a:hover, a:active, a.active, a.current, a[aria-current="page"] {
	color: var(--link-hover-color);
}

a.alt {
	color: var(--link-alt-color);
}

a.alt:hover, a.alt:active, a.alt.active, a.alt.current, a.alt[aria-current="page"] {
	color: var(--link-alt-hover-color);
	text-decoration: underline;
}

a.right {
	float: right;
}

img {
	width: 100%;
	height: auto;
	border: none;
}


/* INPUT */

input, textarea, select, button, .button {
	display: inline-block;
	width: 100%;
	height: calc(var(--input-font-size) * 2.333);
	margin: 0;
	padding: 0 calc(var(--input-font-size) / 2);
	background: #fff;
	border: 1px solid var(--input-border-color);
	font-family: inherit;
	font-size: var(--input-font-size);
	border-radius: var(--input-border-radius);
	overflow: visible;
	outline: none;
	vertical-align: middle;
	text-transform: none;
}

textarea {
	height: 6em;
	overflow: auto;
}

label {
	display: block;
	margin-bottom: 4px;
	font-size: var(--small-font-size);
}

fieldset {
	border: 1px solid var(--input-border-color);
}

legend {
	font-size: var(--small-font-size);
	padding: 0 5px;
}

form .field {
	position: relative;
	padding: 8px 0;
}

form .field:last-of-type {
	margin-bottom: 0;
}

form .show-password::before {
	position: absolute;
	top: 32px;
	right: 5px;
	content: '\1F441';
	font-size: 32px;
	z-index: 2;
	cursor: pointer;
}

form .error {
	color: var(--input-error-color);
	margin-top: 5px;
}

form .field .error {
	font-size: var(--small-font-size);
}

input.has-error, textarea.has-error, select.has-error,
.has-error input, .has-error textarea, .has-error select {
	border-color: var(--input-error-color);
}

input:hover, textarea:hover, select:hover {
	border-color: var(--input-hover-color);
}

input:focus, textarea:focus, select:focus {
	border-color: var(--input-active-color);
}

button, .button, [type="button"], [type="submit"], [type="reset"] {
	background: var(--button-background);
	border-color: var(--button-border-color);
	border-radius: var(--button-border-radius);
	color: var(--button-color);
	text-align: center;
	cursor: pointer;
}

button.alt, .button.alt, [type="button"].alt, [type="submit"].alt, [type="reset"].alt {
	background: var(--button-alt-background);
	color: var(--button-alt-color);
}

button + button, .button + .button {
	margin-top: 10px;
}

.button {
	line-height: calc(var(--input-font-size) * 2.333);
}

.button:hover {
	color: var(--button-color);
}

.button.alt:hover {
	color: var(--button-alt-color);
}

@media screen and (min-width: 40em) {

	button, .button, [type="button"], [type="submit"], [type="reset"] {
		width: auto;
	}

	button + button, .button + .button {
		margin-top: 0;
		margin-left: 10px;
	}

}

[type="radio"], [type="checkbox"] {
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
}

[type="radio"] + label, [type="checkbox"] + label {
	display: inline;
	margin: 0 15px 0 5px;
	vertical-align: middle;
	cursor: pointer;
}

[readonly] {
	color: #5f5f5f;
	background: #f0f0f0;
}

[disabled] {
	opacity: 0.8;
	color: #5f5f5f;
	background: #f5f5f5;
	cursor: not-allowed;
}

[hidden], template {
	display: none;
}


/* LISTS */

li {
	margin-bottom: 5px;
}

li:last-of-type {
	margin-bottom: 0;
}


/* TABLES */

table {
	width: 100%;
	font-size: var(--small-font-size);
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background: #eee;
	font-weight: bold;
}

th, td {
	padding: 8px;
	vertical-align: middle;
}

td.top {
	vertical-align: top;
}

td.bottom {
	vertical-align: bottom;
}

td.center {
	text-align: center;
}

figure {
	margin-left: 0;
	margin-right: 0;
}


/* MAIN */

main {
	display: block;
	padding-bottom: var(--footer-height);
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0.5em 0;
}

p {
	margin: 0 0 0.9em 0;
}


/* FOOTER */

footer {
	width: 100%;
	text-align: center;
	min-height: var(--footer-height);
	font-size: var(--small-font-size);
}

main + footer {
	position: absolute;
	bottom: 0;
}


/* NAV */

nav {
	position: relative;
	background: transparent;
}

nav a {
    display: flex;
	align-items: center;
	text-align: left;
	width: auto;
	line-height: 1.0;
	padding: 0.8em;
	color: var(--nav-color);
	text-decoration: none;
}

nav a.child {
	font-size: var(--small-font-size);
	padding-left: 20px;
}

nav a:hover {
	color: var(--nav-hover-color);
	background: var(--nav-hover-background);
}

nav .icons {
	position: relative;
	background: transparent;
}

nav .icons a {
	padding: 0;
	height: auto;
	color: inherit;
	background: transparent;
}

nav .toggle {
	display: block;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
	font-size: 32px;
	font-style: normal;
	background: transparent;
}

nav .toggle:after {
	content: '\2807';
}

nav .menu {
	position: absolute;
	top: 40px; right: 24px;
	min-width: 120px;
	background: var(--nav-background);
	border-radius: 2px;
	box-shadow: 0 10px 6px -6px #777;
	transition: transform 0.5s;
	transform: scale(0,0);
	transform-origin: top right;
	z-index: 500;
}

nav.open .menu {
	transform: scale(1,1);
}

nav .d {
	display: none;
}

@media screen and (min-width: 40em) {

	nav {
		position: relative;
	}

	nav a {
		flex-grow: 1;
		height: auto;
		text-align: center;
	}

	nav a.active {
		color: var(--nav-active-color);
		background: var(--nav-active-background);
	}

	nav .icons, nav .toggle {
		display: none;
	}

	nav .menu {
		display: flex;
		position: static;
		height: 100%;
		box-shadow: none;
		transform: none;
		transition: none;
	}

	nav .d {
		display: flex;
	}

	nav .m {
		display: none;
	}

}


/* GRID */

.grid {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.grid .item {
	flex-basis: 100%;
}

@media(min-width: 40em) {

	.grid .item {
		display: flex;
		flex-basis: 50%;
	}

}

@media(min-width: 60em) {

	.grid .item {
		flex-basis: calc(100% / 3);
	}

}


/* PAGINATION */

.pagination {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination a, .pagination .active, .pagination .current, .pagination .disabled {
	padding: 8px 16px;
	border: 1px solid #ddd;
}

.pagination .active, .pagination .current {
	background: #f1f1f1;
}

.pagination .disabled, .pagination .disabled:hover {
	cursor: default;
	color: #bbb;
}


/* NOTICE */

.notice {
	padding: 12px;
	border: 0px solid #000;
	border-left-width: 4px;
}

.notice.pinned {
	position: absolute;
	top: 0; left: 0;
}

.notice.pinned.bottom {
	top: initial;
	bottom: 0;
}

.notice.success {
	background: #DFF0D8;
	border-color: #46b450;
}

.notice.error {
	background: #F2DEDE;
	border-color: #dc3232;
}

.notice.info {
	background: #D9EDF7;
	border-color: #00a0d2;
}

.notice.warn {
	background: #FCF8E3;
	border-color: #ffb900;
}

.notice .title {
	font-size: 1.1em;
	font-weight: bold;
}


/* OVERLAY */

.overlay {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10000
}

.overlay .inner {
	position: relative;
	width: 90%;
	max-width: 500px;
	margin: auto;
	color: #3c434a;
	background: #fff;
	border-radius: 4px;
}

.overlay .head {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-size: 1.2em;
	font-weight: bold;
}

.overlay .body {
	padding: 8px 16px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
}

.overlay .close {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: normal;
	margin-left: auto;
}


/* CROPPED IMAGE */

.crop {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	max-height: var(--image-crop-height);
	overflow: hidden;
}

.crop:before {
	content: ""; 
	display: block; 
	padding-top: 100%;  
}

.crop img {
    position: absolute;
	top: 50%; left: 0;
	transform: translate(0, -50%);
	width: 100%;
	height: auto;
    border: 0;
    z-index: 10;
}


/* ANIMATE */

.animate {
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.animate.none {
	opacity: 0.99;
}

.static, .static * {
	transition: none !important;
}

.fade.out, .fade.hidden {
	opacity: 0;
}

.scale.out, .scale.hidden {
	transform: scale3d(0, 0, 0);
}

.slide-from-left.out, .slide-from-left.hidden {
	transform: translate3d(-100%, 0, 0);
}

.slide-from-right.out, .slide-from-right.hidden {
	transform: translate3d(100%, 0, 0);
}

.slide-from-top.out, .slide-from-top.hidden {
	transform: translate3d(0, -100%, 0);
}

.slide-from-bottom.out, .slide-from-bottom.hidden {
	transform: translate3d(0, 100%, 0);
}

.bump-from-bottom.out, .bump-from-bottom.hidden {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
}


/* ICONS: https://fontello.com */

@font-face {
	font-family: 'fontello';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/fontello.woff2?26687926') format('woff2'),
		 url('fonts/fontello.woff?26687926') format('woff');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	display: inline-block;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: inherit;
	text-align: center;
	width: 1em;
	line-height: 1em;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: '\1f50d'; }
.icon-email:before { content: '\2709'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-youtube:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-pinterest:before { content: '\f231'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-reddit:before { content: '\f281'; }