:root {

	--body-min-width: 300;
	--body-max-width: 1600;
	--body-min-font: 16;
	--body-max-font: 20;

	--body-line-height: 1.4;
	--body-vertical-rhythm: calc(var(--body-line-height) * 1em);

	--body-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--body-font-size: calc((var(--body-min-font) * 1px) + ((var(--body-max-font) - var(--body-min-font)) * ((100vw - (var(--body-min-width) * 1px)) / (var(--body-max-width) - var(--body-min-width)))));

    --body-color: #232D37;
	--body-background: #FFF;

	--link-color: #0064BD;
	--link-hover-color: #0095FF;
	--link-alt-color: #777;
	--link-alt-hover-color: #777;

	--button-color: var(--body-background);
	--button-background: #AAA;
	--button-alt-color: var(--button-background);
	--button-alt-background: var(--button-color);
	--button-border-color: rgba(0, 0, 0, 0.25);
	--button-border-radius: 4px;

	--nav-color: #141412;
	--nav-background: #EFEFEF;
	--nav-hover-color: #141412;
	--nav-hover-background: #E2E2E2;
	--nav-active-color: var(--body-background);
	--nav-active-background: #AAA;

	--input-border-radius: 4px;
	--input-font-size: 1.15rem;
	--input-border-color: rgba(0, 0, 0, 0.25);
	--input-hover-color: rgba(0, 0, 0, 0.35);
	--input-active-color: #0288D1;
	--input-error-color: #D32F2F;

	--footer-height: 3em;
	--small-font-size: 0.875em;

}


/* BODY */

*, :after, :before {
	box-sizing: border-box;
}

* {
	margin: 0;
	user-select: text;
	-webkit-user-select: text;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

* + * {
	margin-top: var(--body-vertical-rhythm);
}

header, main, footer, body, body > * + * {
	margin-top: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-size: var(--body-font-size);
	font-family: var(--body-font-family);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-letter-spacing);
	text-size-adjust: 100%;
	word-wrap: break-word;
}

body {
	width: 100%;
	min-width: calc(var(--body-min-width) * 1px);
	min-height: 100%;
	position: relative;
	background: var(--body-background);
	color: var(--body-color);
	padding: 0;
	margin: 0;
}

canvas {
	margin: 0;
}

iframe {
	max-width: 100%;
}


/* LINKS */

a {
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	color: var(--link-color);
}

a:hover, a:active, a.active, a.current, a[aria-current="page"] {
	color: var(--link-hover-color);
}

a.alt {
	color: var(--link-alt-color);
}

a.alt:hover, a.alt:active, a.alt.active, a.alt.current, a.alt[aria-current="page"] {
	color: var(--link-alt-hover-color);
	text-decoration: underline;
}

a.right {
	float: right;
}


/* FORMS */

form {
	margin: 0;
}

form * + * {
	margin-top: 1em;
}

fieldset {
	border: 1px solid var(--input-border-color);
}

legend {
	font-size: var(--small-font-size);
	padding: 0 5px;
}

label {
	display: block;
	font-size: var(--small-font-size);
	font-weight: normal;
}

label + * {
	margin-top: 5px;
}

input, textarea, select, button, .button {
	display: inline-block;
	width: 100%;
	padding: calc(var(--input-font-size) * 0.5);
	background: var(--body-background);
	border: 1px solid var(--input-border-color);
	font-family: inherit;
	font-size: var(--input-font-size);
	border-radius: var(--input-border-radius);
	overflow: visible;
	outline: none;
	vertical-align: middle;
	text-transform: none;
}

button, .button, [type="button"], [type="submit"], [type="reset"] {
	background: var(--button-background);
	border-color: var(--button-background);
	border-radius: var(--button-border-radius);
	color: var(--button-color);
	text-align: center;
	cursor: pointer;
}

button.alt, .button.alt, [type="button"].alt, [type="submit"].alt, [type="reset"].alt {
	background: var(--button-alt-background);
	color: var(--button-alt-color);
	border-color: var(--button-alt-color);
}

.button {
	line-height: 1.18;
}

textarea {
	overflow: auto;
	line-height: var(--body-line-height);
	height: calc((var(--body-line-height) * 4em) + 1em);
}

form .field {
	position: relative;
}

form .help {
	font-size: var(--small-font-size);
	font-style: italic;
	margin-top: 5px;
}

form .checkbox-wrap {
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
}

form .show-password::before {
	position: absolute;
	top: 32px;
	right: 5px;
	content: '\1F441';
	font-size: 32px;
	margin: 0;
	z-index: 2;
	cursor: pointer;
}

form .has-error {
	border: 1px solid var(--input-error-color);
}

form .error {
	margin-top: 5px;
	color: var(--input-error-color);
}

form .field .error {
	font-size: var(--small-font-size);
}

input:hover, textarea:hover, select:hover {
	border-color: var(--input-hover-color);
}

input:focus, textarea:focus, select:focus {
	border-color: var(--input-active-color);
}

button:hover, .button:hover, [type="button"]:hover, [type="submit"]:hover, [type="reset"]:hover {
	color: var(--button-color);
	text-decoration: none;
	filter: brightness(110%);
}

button.alt:hover, .button.alt:hover, [type="button"].alt:hover, [type="submit"].alt:hover, [type="reset"].alt:hover {
	color: var(--button-alt-color);
	text-decoration: none;
	filter: brightness(98%);
}

@media (min-width: 40em) {

	button, .button, [type="button"], [type="submit"], [type="reset"] {
		width: auto;
	}

	button + button, .button + .button {
		margin-top: 0;
		margin-left: 10px;
	}

}

[type="radio"], [type="checkbox"] {
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
	margin: 0;
}

[type="radio"] + label, [type="checkbox"] + label {
	display: inline;
	margin: 0 20px 0 6px;
	vertical-align: middle;
	font-size: 1em;
	cursor: pointer;
}

[readonly], [readonly]:hover {
	color: #5f5f5f;
	background: #f0f0f0;
}

[disabled], [disabled]:hover {
	opacity: 0.8;
	color: #5f5f5f;
	background: #f5f5f5;
	cursor: not-allowed;
}

[hidden], template {
	display: none;
}


/* LISTS */

li {
	margin-top: 0.6em;
}


/* TABLES */

table {
	width: 100%;
	font-size: var(--small-font-size);
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background: #eee;
	font-weight: bold;
}

th, td {
	padding: 8px;
	vertical-align: middle;
}

td.top {
	vertical-align: top;
}

td.bottom {
	vertical-align: bottom;
}

td.center {
	text-align: center;
}

figure {
	margin-left: 0;
	margin-right: 0;
}


/* QUOTES */

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
	font-style: italic;
}


/* MAIN */

main {
	display: block;
	padding-bottom: var(--footer-height);
}


/* FOOTER */

footer {
	width: 100%;
	text-align: center;
	min-height: var(--footer-height);
	font-size: var(--small-font-size);
}

main + footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}


/* NAV */

nav {
	position: relative;
	background: transparent;
	margin-top: 0;
}

nav * + * {
	margin-top: 0;
}

nav a {
    display: flex;
	align-items: center;
	text-align: left;
	width: auto;
	height: 45px;
	padding: 0.8em;
	line-height: 1.0;
	color: var(--nav-color);
	text-decoration: none;
}

nav a.child {
	font-size: var(--small-font-size);
	padding-left: 20px;
}

nav a:hover {
	color: var(--nav-hover-color);
	background: var(--nav-hover-background);
}

nav .icons {
	position: relative;
	background: transparent;
}

nav .icons a {
	padding: 0;
	height: auto;
	color: inherit;
	background: transparent;
}

nav .toggle {
	display: block;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
	font-size: 32px;
	font-style: normal;
	background: transparent;
}

nav .toggle:after {
	content: '\2807';
}

nav .menu {
	position: absolute;
	top: 40px; right: 24px;
	min-width: 120px;
	background: var(--nav-background);
	border-radius: 2px;
	box-shadow: 0 10px 6px -6px #777;
	transition: transform 0.5s;
	transform: scale(0,0);
	transform-origin: top right;
	z-index: 500;
}

nav.open .menu {
	transform: scale(1,1);
}

nav .d {
	display: none;
}

@media (min-width: 40em) {

	nav {
		position: relative;
		font-size: var(--small-font-size);
	}

	nav a {
		flex-grow: 1;
		height: 100%;
		text-align: center;
	}

	nav a.active {
		color: var(--nav-active-color);
		background: var(--nav-active-background);
	}

	nav .icons, nav .toggle {
		display: none;
	}

	nav .menu {
		display: flex;
		align-items: center;
		position: static;
		height: 100%;
		box-shadow: none;
		transform: none;
		transition: none;
	}

	nav .d {
		display: flex;
	}

	nav .m {
		display: none;
	}

}

@media (min-width: 60em) {

	nav {
		font-size: 1em;
	}

}