/* ICONS: https://fontello.com */

@font-face {
	font-family: 'fontello';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/fontello.woff2?26687926') format('woff2'),
		 url('fonts/fontello.woff?26687926') format('woff');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	display: inline-block;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: inherit;
	text-align: center;
	width: 1em;
	line-height: 1em;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: '\1f50d'; }
.icon-email:before { content: '\2709'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-youtube:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-pinterest:before { content: '\f231'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-reddit:before { content: '\f281'; }