# Allow access
Order Allow,Deny
Allow from all

# Set options
<IfModule mod_negotiation.c>
	Options -Indexes -MultiViews +FollowSymLinks
</IfModule>

# Associate files
<IfModule mod_mime.c>
	AddType text/javascript js mjs
</IfModule>

# Rewrite URLs
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.html [L]
</IfModule>
